/*INDEX*/
div .col-lg-4 {
  justify-content: right; }

.destacadosCards {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px; }

.carousel .inner {
  width: 100%; }

.subtitle__catalogo {
  padding-top: 35px;
  padding-bottom: 10px; }

/*CONTACTO*/
hr.divider {
  height: 0.2rem;
  max-width: 5.25rem;
  margin: 1.5rem auto;
  background-color: #38393b;
  opacity: 1; }

.container__Contact {
  background-image: url(../Assets/img/contactito.png);
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%; }

.titulo__contacto {
  font-size: 50px; }

.subtitulo__contacto {
  font-size: 25px;
  font-weight: normal; }

body section div .d-grid {
  text-align: center; }

#submitButton {
  background-color: #3d3f57;
  border-radius: 50px 50px;
  height: 50px;
  width: 12rem; }

#submitButton:hover {
  color: black; }

/* CATALOGO */
h1.titulo__catalogo {
  text-align: center;
  padding-top: 30px; }

.slogan__catalogo {
  text-align: center; }

.btn__tienda {
  height: 65px;
  width: 100px; }

.py-5 .padding__catalogo {
  padding-top: 0px; }

.cards {
  border: none; }

.btn-primary:hover {
  color: black; }

.btn-primary {
  color: #fff;
  background-color: darkgrey;
  border-color: #1d2124; }

/* NOSOTROS */
.titulo__nosotros {
  text-align: center;
  padding-top: 40px; }

.img__nosotros {
  padding-top: 50px;
  padding-bottom: 50px; }

.text__nosotros {
  padding-left: 40px;
  padding-top: 50px;
  padding-right: 0px;
  text-align: justify;
  font-size: 25px; }

/* PREGUNTAS FRECUENTES */
.preguntas {
  padding-left: 40px; }

.preguntas h3 {
  text-align: left;
  font-size: 20px;
  font-weight: normal; }

.preguntas p {
  text-align: left;
  font-size: 15px;
  font-weight: lighter; }

.flexTitulo {
  display: flex;
  justify-content: left;
  padding: 40px; }

.titulo__preguntasF {
  font-weight: normal;
  font-size: 40px;
  color: #384369;
  position: relative;
  float: left;
  padding-top: 0px; }

.titulo__preguntasF span {
  position: absolute;
  right: 0;
  width: 0;
  background: white;
  border-left: 3px solid #384369;
  animation: escribir 4s steps(50) infinite alternate; }

@keyframes escribir {
  from {
    width: 100%; }
  to {
    width: 0; } }

/*general FOOTER*/
.col-lg-3 {
  display: flex;
  justify-content: center; }

.paddingTB {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center; }

.footerBg h3 a {
  text-decoration: none;
  list-style-type: none; }

.footerBg h3 {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px; }

h3 a {
  color: white; }

h3 a:hover {
  color: #1f2021; }

.footerBg {
  background-image: url(../Assets/img/BACKGROUND1.jpg);
  text-decoration: none;
  list-style-type: none; }

.creador__creadorPagina {
  color: lightgrey; }

.cophyright__copy {
  color: lightgrey; }

.flexFooter {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.Redes__img-footer {
  padding: 15px;
  transition: 1s; }

.Redes__img-footer:hover {
  transform: translateY(-10px); }

/*ANIMACION GRAL TITULOS */
h1 {
  font-size: 35px;
  animation-duration: 3s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

/*ANIMACION TITULO PREGUNTAS FRECUENTES*/
.titulo__preguntasF span {
  position: absolute;
  right: 0;
  width: 0;
  background: white;
  border-left: 3px solid #d4d5d6;
  animation: escribir 4s steps(50) infinite alternate; }

@keyframes escribir {
  from {
    width: 100%; }
  to {
    width: 0; } }

/*ANIMACION ICONOS FOOTER*/
.Redes__img-footer {
  padding: 15px;
  transition: 1s; }

.Redes__img-footer:hover {
  transform: translateY(-10px); }

/*ANIMACION CARDS CATALOGO*/
.img-tienda {
  border-radius: 10px 10px 10px 10px;
  padding: 0px;
  -webkit-transition: all 0.8s ease; }

.img-tienda:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.1); }

/*general NAV*/
.navbar {
  background-image: url(../Assets/img/BACKGROUNDliso.jpg);
  font-weight: lighter; }

.nav-item {
  align-content: right;
  justify-content: right;
  align-items: right; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #ffffff;
  font-weight: lighter; }

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  padding: 0px 15px; }

.navbar-nav {
  font-weight: lighter; }

/*vista desktop*/
@media only screen and (min-width: 1024px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }
  .navbar ul li a {
    font-size: 30px;
    font-weight: 100; }
  .card-text {
    font-family: ubuntu, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    justify-content: space-between;
    align-content: center; }
  .card {
    padding: auto;
    align-items: center;
    align-content: center;
    justify-content: center; }
  .imgLiving {
    justify-content: center;
    align-content: center; }
  .py-5 {
    padding-top: 0rem !important;
    padding-left: 15rem !important; }
  /* CARDS */
  .img-tienda {
    border-radius: 40px 40px 40px 40px;
    padding: 20px;
    -webkit-transition: all 0.8s ease; }
  .img-tienda:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.1); } }

/*vista mobile*/
@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
    align-content: center; }
  .container-fluid {
    justify-content: space-between; }
  body {
    overflow-x: hidden; }
  .card-text {
    font-family: ubuntu, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    align-content: center; }
  .card {
    width: 0%;
    align-items: center;
    align-content: center;
    justify-content: center; }
  h3 {
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    text-align: center; }
  .Redes__img-footer {
    padding-top: 15px;
    transition: 1s; }
  .Redes__img-footer:hover {
    transform: translateY(-10px); } }

.txt__Index p {
  justify-content: center;
  font-size: 30px;
  padding: 40px 40px;
  font-weight: light; }

.title__subtitle__Index {
  padding-top: 45px;
  padding-bottom: 25px; }

h1 {
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center; }

.btn.btn-outline-dark {
  font-size: 2rem;
  font-weight: bold; }

* {
  Margin: 0;
  padding: 0; }

.img__Index2 {
  padding-top: 0px;
  padding-bottom: 25px;
  width: 380; }

body {
  overflow-x: hidden; }

body {
  font-family: ubuntu;
  font-style: normal;
  font-weight: light;
  text-align: center; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  font-family: ubuntu, sans-serif; }
