/*INDEX*/
div .col-lg-4 {
  justify-content: right; }

.destacadosCards {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px; }

.carousel .inner {
  width: 100%; }

.subtitle__catalogo {
  padding-top: 35px;
  padding-bottom: 10px; }

.btn-outline-dark a {
  color: black; }

.btn-outline-dark a:hover {
  color: white;
  text-decoration: none; }

/*CONTACTO*/
hr.divider {
  height: 0.2rem;
  max-width: 5.25rem;
  margin: 1.5rem auto;
  background-color: #38393b;
  opacity: 1; }

.container__Contact {
  background-image: url(../Assets/img/contactito.png);
  max-width: 100%;
  background-position: center;
  width: 100%; }

.titulo__contacto {
  font-size: 50px; }

.subtitulo__contacto {
  font-size: 25px;
  font-weight: normal; }

body section div .d-grid {
  text-align: center; }

#submitButton {
  background-color: #3d3f57;
  border-radius: 50px 50px;
  height: 50px;
  width: 12rem; }

#submitButton:hover {
  color: black; }

/* CATALOGO */
h1.titulo__catalogo {
  text-align: center;
  padding-top: 30px; }

.slogan__catalogo {
  text-align: center; }

.btn__tienda {
  height: 65px;
  width: 100px; }

.py-5 .padding__catalogo {
  padding-top: 0px; }

.cards {
  border: none; }

.btn-primary:hover {
  color: black; }

.btn-primary {
  color: #fff;
  background-color: darkgrey;
  border-color: #1d2124; }

/*CARDS CATALOGO*/
.card {
  border: 0px solid rgba(0, 0, 0, 0); }

.card-body {
  padding-top: 10px;
  padding-bottom: 40px; }

/* PREGUNTAS FRECUENTES */
.titulo__preguntasF {
  font-weight: normal;
  font-size: 40px;
  color: #384369;
  position: relative;
  float: center;
  padding-top: 0px; }

.titulo__preguntasF span {
  position: absolute;
  right: 0;
  width: 0;
  background: white;
  border-left: 3px solid #384369;
  animation: escribir 4s steps(50) infinite alternate; }

h2 a {
  text-decoration: none; }

h2 a:hover {
  color: #7f868c;
  text-decoration: none; }

@keyframes escribir {
  from {
    width: 100%; }
  to {
    width: 0; } }

/*general FOOTER*/
.col-lg-3 {
  display: flex;
  justify-content: center; }

.paddingTB {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center; }

.footerBg h3 a {
  text-decoration: none;
  list-style-type: none; }

.footerBg h3 {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px; }

h3 a {
  color: white; }

h3 a:hover {
  color: #1f2021; }

.footerBg {
  background-image: url(../Assets/img/Bg__footer.jpg);
  text-decoration: none;
  list-style-type: none; }

.creador__creadorPagina {
  color: lightgrey; }

.cophyright__copy {
  color: lightgrey; }

.flexFooter {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.Redes__img-footer {
  padding: 15px;
  transition: 1s; }

.Redes__img-footer:hover {
  transform: translateY(-10px); }

.call__to__action h3 {
  font-size: 20px; }

a.creadorPagina__creador:hover {
  color: #7f868c;
  text-decoration: none; }

/*ANIMACION GRAL TITULOS */
h1 {
  font-size: 35px;
  animation-duration: 3s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

/*ANIMACION ICONOS FOOTER*/
.Redes__img-footer {
  padding: 15px;
  transition: 1s; }

.Redes__img-footer:hover {
  transform: translateY(-10px); }

/*ANIMACION CARDS CATALOGO*/
.img-tienda {
  border-radius: 10px 10px 10px 10px;
  padding: 0px;
  -webkit-transition: all 0.8s ease; }

.img-tienda:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.1); }

/*ANIMACION GALERIA NOSOTROS*/
#demo {
  height: 100%;
  position: relative;
  overflow: hidden; }

.img-zoom {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out; }

.transition {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

/*general NAV*/
.navbar {
  background-image: url(../Assets/img/BACKGROUNDliso.jpg);
  font-weight: lighter; }

.nav-item {
  align-content: right;
  justify-content: right;
  align-items: right; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #ffffff;
  font-weight: lighter; }

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  padding: 0px 15px; }

.navbar-nav {
  font-weight: lighter; }

button .navbar-toggler {
  color: #ffffff; }

span .navbar-toggler-icon {
  color: #ffffff; }

.navbar-light .navbar-toggler {
  color: #e9ecef;
  border-color: #f5f6f7; }

/*vista desktop*/
@media only screen and (min-width: 1024px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }
  .navbar ul li a {
    font-size: 30px;
    font-weight: 100; }
  .card-text {
    font-size: 18px;
    font-family: ubuntu, sans-serif;
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    justify-content: space-between;
    align-content: center; }
  .card {
    padding: auto;
    align-items: center;
    align-content: center;
    justify-content: center; }
  .imgLiving {
    justify-content: center;
    align-content: center; }
  .py-5 {
    padding-top: 0rem !important;
    padding-left: 15rem !important; }
  /* CARDS */
  .img-tienda {
    border-radius: 40px 40px 40px 40px;
    padding: 20px;
    -webkit-transition: all 0.8s ease; }
  .img-tienda:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.1); }
  .container__Contact .px-4 .px-lg-5 {
    margin: 0px;
    padding: 0px; }
  .container__Contact {
    background-image: url(../Assets/img/contactito.png);
    background-repeat: repeat;
    background-position: center;
    width: 100%; } }

/*vista mobile*/
@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
    align-content: center; }
  .container-fluid {
    justify-content: space-between; }
  body {
    overflow-x: hidden; }
  .card-text {
    font-family: ubuntu, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    align-content: center; }
  .card {
    width: 0%;
    align-items: center;
    align-content: center;
    justify-content: center; }
  h3 {
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    text-align: center; }
  .Redes__img-footer {
    padding-top: 15px;
    transition: 1s; }
  .Redes__img-footer:hover {
    transform: translateY(-10px); }
  .img__faQ {
    align-self: center;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow-x: hidden; }
  hr.divider {
    height: 0.2rem;
    max-width: 5.25rem;
    margin: 1.2rem auto; }
  button .navbar-toggler .collapse {
    color: #ffffff; }
  span .navbar-toggler-icon {
    color: #ffffff; }
  .img__nosotrosB {
    width: 98%;
    padding-right: 0px;
    padding-bottom: 20px; }
  .img__nosotros {
    width: 98%;
    padding-right: 0px;
    padding-left: 0px; }
  div .col-lg-5 .col-xs-12 {
    padding: 0px;
    padding-left: 0px; }
  .row img__nosotros {
    margin-right: 0px;
    margin-left: -15px; } }

.txt__Index p {
  justify-content: center;
  font-size: 30px;
  padding: 40px 40px;
  font-weight: light; }

.title__subtitle__Index {
  padding-top: 45px;
  padding-bottom: 25px; }

h1 {
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center; }

.row .txt2__Index {
  align-self: center; }

/* NOSOTROS */
.text__nosotros {
  text-align: center;
  align-self: center;
  align-content: center;
  font-size: 28px; }

.titulo__nosotros {
  text-align: center;
  padding-top: 40px; }

.text__nosotrosB {
  font-size: 28px;
  align-self: center;
  text-align: center;
  padding: 15px; }

.subtitulo__nosotros {
  padding: 20px 20px; }

/* CONTACTO */
.btn {
  font-size: 2rem; }

.Newsletter {
  font-size: 1rem; }

/* CATALOGO */
.btn-primary {
  font-size: 18px; }

/* FAQ*/
.accordion {
  font-family: ubuntu; }

.mb-0 {
  font-family: ubuntu; }

.faQ__answer {
  font-family: Ubuntu;
  font-size: 18px; }

a {
  color: #45494c;
  text-decoration: none; }

* {
  Margin: 0;
  padding: 0; }

/*NOSOTROS*/
.zoom {
  padding: 7px; }

.inspo__galeria {
  padding-bottom: 30px; }

.container__galeria {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px; }

.col-lg-1 {
  padding-right: 0px;
  padding-left: 0px; }

.page-section {
  padding-bottom: 30px; }

/*FAQ*/
.container__faQ {
  padding: 0px; }

.img__faQ {
  align-self: center;
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 30px; }
  @media only screen and (max-width: 767px) {
    .img__faQ {
      padding-top: 0px; } }

.title__faQ {
  padding-top: 0px;
  margin-top: 15px; }

.img__Index2 {
  padding-top: 0px;
  padding-bottom: 25px;
  width: 380; }

/* NOSOTROS */
.img__nosotros {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px; }

body {
  overflow-x: hidden; }

body {
  font-family: ubuntu;
  font-style: normal;
  font-weight: light;
  text-align: center; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  font-family: ubuntu, sans-serif; }

.navbar-toggler .collapse {
  color: white; }

.accordion {
  margin: 40px 0; }

.accordion .item {
  border: none;
  margin-bottom: 50px;
  background: none; }

.t-p {
  padding: 40px 30px 0px 30px; }

.accordion .item .item-header h2 button.btn.btn-link {
  background: #000000;
  color: white;
  border-radius: 0px;
  font-family: 'Ubuntu';
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5;
  text-decoration: none; }

.accordion .item .item-header {
  border-bottom: none;
  background: transparent;
  padding: 0px;
  margin: 2px; }

.accordion .item .item-header h2 button {
  color: white;
  font-size: 20px;
  padding: 15px;
  display: block;
  width: 100%;
  text-align: left; }

.accordion .item .item-header h2 i {
  float: right;
  font-size: 30px;
  color: #eca300;
  background-color: black;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; }

button.btn.btn-link.collapsed i {
  transform: rotate(0deg); }

button.btn.btn-link i {
  transform: rotate(180deg);
  transition: 0.5s; }

.accordion {
  margin: 40px 0; }

.accordion .item {
  border: none;
  margin-bottom: 50px;
  background: none; }

.t-p {
  color: black;
  padding: 40px 30px 0px 30px; }

.accordion .item .item-header h2 button.btn.btn-link {
  background: #333435;
  color: white;
  border-radius: 0px;
  font-family: 'Ubuntu';
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5;
  text-decoration: none; }

.accordion .item .item-header {
  border-bottom: none;
  background: transparent;
  padding: 0px;
  margin: 2px; }

.accordion .item .item-header h2 button {
  color: white;
  font-size: 20px;
  padding: 15px;
  display: block;
  width: 100%;
  text-align: left; }

.accordion .item .item-header h2 i {
  float: right;
  font-size: 30px;
  color: #eca300;
  background-color: black;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; }

button.btn.btn-link.collapsed i {
  transform: rotate(0deg); }

button.btn.btn-link i {
  transform: rotate(180deg);
  transition: 0.5s; }
