@import "colores" ;

/*ANIMACION GRAL TITULOS */

h1 {
	font-size:35px ;
	animation-duration: 3s;
	animation-name: aparecer; 
}
@keyframes aparecer {
 0% {
 opacity: 0;
 }
 100% {
 opacity: 100;
 }
}


/*ANIMACION ICONOS FOOTER*/
  .Redes__img-footer {
  padding: 15px;
  transition: 1s; 
  }

  .Redes__img-footer:hover {
  transform: translateY(-10px); }

  /*ANIMACION CARDS CATALOGO*/
  .img-tienda {
    border-radius: 10px 10px 10px 10px;
    padding: 0px;
    -webkit-transition: all 0.8s ease; }
  .img-tienda:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.1); }

/*ANIMACION GALERIA NOSOTROS*/
#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}

.img-zoom{
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

