* {
 Margin:0;
 padding:0;
}

/*NOSOTROS*/
.zoom {padding: 7px;}
.inspo__galeria {padding-bottom:30px;}
.container__galeria {
    width: 100%; 
    padding-right: 0px; 
    padding-left: 0px;}

.col-lg-1 {padding-right: 0px; 
      padding-left: 0px; }

.page-section { padding-bottom:30px;}


/*FAQ*/
.container__faQ {padding:0px; 
 }
.img__faQ {align-self:center;padding-top:30px; padding-left:10px;padding-bottom:30px;@media only screen and (max-width: 767px){padding-top:0px; }}
.title__faQ {padding-top:0px; margin-top:15px;} 