
body { overflow-x: hidden;}
body { 	
		font:{
		family: ubuntu;
		style: normal;
		weight:light;
    	}
    	text-align:center; 
     }	
.container-fluid { padding-left: 0px; padding-right: 0px; font-family:ubuntu, sans-serif;} 
