.img__Index2 { padding-top:0px;
               padding-bottom: 25px;
              width:380 ;}

/* NOSOTROS */

.img__nosotros{padding-top:10px;padding-bottom: 20px; padding-left:0px; padding-right: 0px;}
img__nosotrosB {padding-right:80px;}
