/*vista desktop*/

    
@media only screen and (min-width: 1024px){
	.navbar-expand-lg .navbar-collapse {justify-content: flex-end;}
	.navbar ul li a{font-size: 30px;
				font-weight: 100;}
	.card-text {
	font-size: 18px;
	font-family: ubuntu, sans-serif;
	font-style: normal;
	font-weight: lighter;
	text-align: center;
	justify-content: space-between;
	align-content: center;}
	.card { padding: auto;
	align-items: center;
	align-content: center;
	justify-content: center; }
	.imgLiving{justify-content: center;align-content: center;}
  .py-5 {padding-top: 0rem!important; padding-left: 15rem!important ; }
  /* CARDS */
  .img-tienda {
    border-radius: 40px 40px 40px 40px;
    padding: 20px;
    -webkit-transition: all 0.8s ease; }
  .img-tienda:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.1); }
  .container__Contact .px-4 .px-lg-5 { margin:0px; padding:0px; }

  .container__Contact{background-image: url(../Assets/img/contactito.png); 
  background-repeat:repeat ; background-position: center; width: 100% ;
}
}



/*vista mobile*/

@media only screen and (max-width: 767px){ 
	 .navbar-nav {text-align:center; align-content:center;}
	 .container-fluid {
	 justify-content: space-between; }
   body {overflow-x: hidden;}
	 .card-text {
	 font-family: ubuntu, sans-serif;
	 font-style: normal;
	 font-weight: 400;
	 text-align: center;
	 align-content: center;}
	 .card{
	 width: 0%;
	 align-items: center;
	 align-content: center;
	 justify-content: center;}
	 h3 {font-weight:100 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    text-align: center; }

   .Redes__img-footer {
      padding-top: 15px;
      transition: 1s; 
     }

	 .Redes__img-footer:hover {
     transform: translateY(-10px); }

	  .img__faQ {align-self:center;padding-top:0px;padding-bottom:0px; overflow-x:hidden;}
	 

	  hr.divider {
    height: 0.2rem;
    max-width: 5.25rem;
    margin: 1.2rem auto;
   }

    button .navbar-toggler .collapse{color:#ffffff;}
    span .navbar-toggler-icon {color:#ffffff;}

    .img__nosotrosB { width:98%;padding-right:0px; padding-bottom: 20px;}

   .img__nosotros { width:98%;padding-right:0px;padding-left:0px; }
   div .col-lg-5 .col-xs-12{ padding:0px;padding-left:0px; }
   .row img__nosotros{
	   margin-right: 0px; 
	   margin-left: -15px;}
 }

