/*general NAV*/
.navbar {background-image: url(../Assets/img/BACKGROUNDliso.jpg);
font-weight:lighter;}

.nav-item { align-content: right ;
			justify-content: right; 
			align-items:right; }

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #ffffff;
    font-weight:lighter;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    padding:0px 15px;
}
.navbar-nav {font-weight:lighter;}