/*general NAV*/
.navbar {background-image: url(../Assets/img/navBg4.jpg);}
.navbar-nav a {
				font-weight: bold; 
				color: white;
				font-size: 20px; 
				}
.nav-item { align-content: right ;
			justify-content: right; 
			align-items:right; }
