@import "colores";

/*INDEX*/
div .col-lg-4 {justify-content: right;}
.destacadosCards { 
                  padding:{ 
                  left: 100px;
                  right: 100px;
                  top: 25px;}
                  } 
.carousel .inner {width: 100%;}
.subtitle__catalogo {   
                      padding:{ 
                      top: 35px; 
                      bottom: 10px; 
                      } 
                    }  
.btn-outline-dark a{color: black;}
.btn-outline-dark a:hover{color: $blanco; text-decoration:none;}


/*CONTACTO*/

hr.divider { 
  height: 0.2rem;
  max-width: 5.25rem;
  margin: 1.5rem auto;
  background-color: $grisoscuro; 
  opacity: 1; }
.container__Contact{background-image: url(../Assets/img/contactito.png); 
max-width: 100%;
background-position: center; width: 100% ;
}
.titulo__contacto{font-size: 50px;}
.subtitulo__contacto{
font-size: 25px;
font-weight: normal; 
}
body section div .d-grid {text-align: center;}
#submitButton {
  background-color: #3d3f57;
  border-radius: 50px 50px;
  height: 50px;
  width: 12rem; }

#submitButton:hover{color: black;}

/* CATALOGO */
h1.titulo__catalogo{text-align: center; padding-top: 30px;}
.slogan__catalogo{text-align: center;}
.btn__tienda{height: 65px; width: 100px;}
.py-5 .padding__catalogo{padding-top: 0px;}
.cards{border: none;}   
.btn-primary:hover{color:black;}
.btn-primary {
    color: #fff;
    background-color: darkgrey;
    border-color: #1d2124;
    }


/*CARDS CATALOGO*/

.card {border: 0px solid rgba(0,0,0,0);
}
.card-body {
    padding-top:10px;
    padding-bottom:40px;
}


/* PREGUNTAS FRECUENTES */

.titulo__preguntasF { font-weight: normal;
  font-size: 40px;
  color: #384369;
  position: relative;
  float: center;
  padding-top: 0px; }
.titulo__preguntasF span {
  position: absolute;
  right: 0;
  width: 0;
  background: white;
  border-left: 3px solid #384369;
  animation: escribir 4s steps(50) infinite alternate; }
h2 a{text-decoration:none;}
h2 a:hover{color: #7f868c; text-decoration:none;}

@keyframes escribir {
  from {
    width: 100%; }
  to {
    width: 0; } }