.txt__Index p { justify-content: center;
font-size:30px; 
padding: 40px 40px;
font-weight:light;
}
.title__subtitle__Index {padding-top:45px;
						 padding-bottom:25px;}
						 h1  {text-align:center;
							align-content:center;
							justify-content:center;
							align-items: center;
							}
.row .txt2__Index{align-self:center;}


/* NOSOTROS */
.text__nosotros {
				text-align:center; 
				align-self: center; 
				align-content: center;
				font-size: 28px;
				}
.titulo__nosotros{
					text-align: center; 
					padding-top: 40px;
					}
.text__nosotrosB {
					font-size:28px; 
					align-self:center;
					text-align:center;
					padding:15px;
				 }
.subtitulo__nosotros {
						padding:20px 20px;
				}


/* CONTACTO */
.btn {
    	font-size: 2rem;
		}


.Newsletter {font-size:1rem;}

/* CATALOGO */
.btn-primary{ font-size:18px;}

/* FAQ*/

.faQ{}
.accordion {font-family: ubuntu;}
.mb-0 {font-family:ubuntu;}
.faQ__answer{font-family:Ubuntu; font-size:18px;}
.contactUs a {
    color: #f2f22c;
    text-decoration: none;
}
a {text-decoration: none;}
.creador__creadorPagina p {
  color: lightgrey; }