<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../Assets/img/logo.png">
	<title> Catálogo Ind and deco muebles de diseño</title>

	<!-- metas SEO -->
  <meta name="description" content="Muebles de diseño, personalizados y a medida"> 
  <meta name="keywords" content="MUEBLES DISEÑO INTERIOR PERSONALIZADO A MEDIDA EXTERIOR DECORACION CATALOGO INTERIOR DESIGN ESTILO INDUSTRIAL NORDICO ">

  <!-- CSS AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<!--Link BOOSTRAP -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<!--mi CSS -->
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body>
	<!--inicio header  -->
	<header>
			 <!--nav + logo-->
		    <div class="container-fluid">
		      <div class="row">
		        <div class="col-lg-12 col-xs-12">
		          <nav class="navbar navbar-expand-lg navbar-light bg-light">
		            <a class="navbar-brand" href="../index.html"><img src="../Assets/img/whiteLogo.png" alt="logoSitio"></a>
		            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		              <span class="navbar-toggler-icon"></span>
		            </button>
		            <div class="collapse navbar-collapse" id="navbarNav">
		              <ul class="navbar-nav">
		                <li class="nav-item">
		                  <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link" href="Nosotros.html">Nosotros</a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link" href="Catálogo.html">Catálogo</a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link" href="contacto.html">Contacto</a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link" href="Preguntasfrecuentes.html">Preguntas frecuentes</a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
		                </li>
		              </ul>
		            </div>
		          </nav>
		        </div>
		      </div>
		    </div>
		<!-- cierre NAV -->
	</header>
	<!-- cierre header -->
	<!-- inicio contenido -->
	<section>
		<article> 
			<h1 class="titulo__catalogo">Nuestro catálogo</h1>
									<!--INICIO CARDS CATALOGO-->		
									<hr class="divider"/>
										<!-- TIENDA -->
										<!-- apertura contenido: CARDS -->
										<div class="row paddingTB">
											<div class="col-lg-3 col-md-6 col-xs-12">
												<div class="card" style="width: 15rem;">
												  <img class="img-tienda" src="../Assets/img/cards.jpg" class="card-img-top" alt="Irving">
												  <div class="card-body">
												    <h5 class="card-title">Barra Pampa</h5>
												    <p class="card-text">Barra móvil de madera y hierro con estante</p>
												    <a href="https://articulo.mercadolibre.com.ar/MLA-935356520-barra-movil-de-madera-y-hierro-linea-pampa-_JM" class="btn btn-primary">Ir a la tienda</a>
												  </div>
												</div>
											</div>
											<div class="col-lg-3 col-md-6 col-xs-12">
												<div class="card" style="width: 15rem;">
												  <img class="img-tienda" src="../Assets/img/cards7.jpg" class="card-img-top" alt="Irving">
												  <div class="card-body">
												    <h5 class="card-title">Mesa Florida</h5>
												    <p class="card-text">Mesa de hierro para exterior. Pintura poliuretánica</p>
												    <a href="https://articulo.mercadolibre.com.ar/MLA-908490082-mesa-4-patas-de-hierro-para-exterior-linea-florida-_JM" class="btn btn-primary">Ir a la tienda</a>
												  </div>
												</div>
											</div>
											<div class="col-lg-3 col-md-6 col-xs-12">
												<div class="card" style="width: 15rem;">
												  <img class="img-tienda" src="../Assets/img/cards6.jpg" class="card-img-top" alt="Irving">
												  <div class="card-body">
												    <h5 class="card-title">Rack TV Patagonia</h5>
												    <p class="card-text">Rack estilo industrial de hierro y madera.</p>
												    <a href="https://articulo.mercadolibre.com.ar/MLA-908486252-rack-para-tv-estilo-industrial-patagonia-hierro-y-madera-_JM" class="btn btn-primary">Ir a la tienda</a>
												  </div>
												</div>
											</div>
											<div class="col-lg-3 col-md-6 col-xs-12">
												<div class="card" style="width: 15rem;">
												  <img class="img-tienda" src="../Assets/img/cards5.jpg" class="card-img-top" alt="estante para bañera">
												  <div class="card-body">
												    <h5 class="card-title">Estante Venecia</h5>
												    <p class="card-text">Estante de madera para bañera deslizable</p>
												    <a href="https://articulo.mercadolibre.com.ar/MLA-908489374-estante-para-banera-linea-venecia-de-madera-_JM" class="btn btn-primary">Ir a la tienda</a>
												  </div>
												</div>
											</div>						
										</div>
										<div class="row paddingTB">
											<div class="col-lg-3 col-md-6 col-xs-12">
												<div class="card" style="width: 15rem;">
												  <img class="img-tienda" src="../Assets/img/cards2.jpg" class="card-img-top" alt="Irving">
												  <div class="card-body">
												    <h5 class="card-title">Sillón doble Florida</h5>
												    <p class="card-text">Sillón de hierro dos cuerpos. Pintura poliuretánica</p>
												    <a href="https://articulo.mercadolibre.com.ar/MLA-908487412-sillon-doble-de-hierro-para-exterior-linea-florida-_JM" class="btn btn-primary">Ir a la tienda</a>
												  </div>
												</div>
											</div>
											<div class="col-lg-3 col-md-6 col-xs-12">
												<div class="card" style="width: 15rem;">
												  <img class="img-tienda" src="../Assets/img/cards3.jpg" class="card-img-top" alt="Irving">
												  <div class="card-body">
												    <h5 class="card-title">Cuadro Linea Deco</h5>
												    <p class="card-text">Cuadro de hierro con terminación oxidado</p>
												    <a href="https://articulo.mercadolibre.com.ar/MLA-580009165-cuadro-deco-de-chapa-con-terminacion-oxidada-para-pared-_JM" class="btn btn-primary">Ir a la tienda</a>
												  </div>
												</div>
											</div>
											<div class="col-lg-3 col-md-6 col-xs-12">
												<div class="card" style="width: 15rem;">
												  <img class="img-tienda" src="../Assets/img/cards4.jpg" class="card-img-top" alt="Irving">
												  <div class="card-body">
												    <h5 class="card-title">Silla Florida para exterior</h5>
												    <p class="card-text">Silla de hierro Florida con pintura poliuretánica</p>
												    <a href="https://articulo.mercadolibre.com.ar/MLA-908503431-silla-de-hierro-para-exterior-linea-florida-_JM" class="btn btn-primary">Ir a la tienda</a>
												  </div>
												</div>
											</div>
											<div class="col-lg-3 col-md-6 col-xs-12">
												<div class="card" style="width: 15rem;">
												  <img class="img-tienda" src="../Assets/img/cards9b.jpg" class="card-img-top" alt="Irving">
												  <div class="card-body">
												    <h5 class="card-title">Mesa de luz/apoyo estilo nórdico</h5>
												    <p class="card-text">Lo personalizamos para vos. </p>
												    <a href="./contacto.html" class="btn btn-primary">Pedílo a medida</a>
												  </div>
												</div>
											</div>						
										</div>
		<!-- cierre CARDS -->

		<!-- apertura contenido: modal -->

										<!-- FIN TIENDA  -->
		<h2 data-aos="fade-left" data-aos-duration="1500" class="slogan__catalogo">Contanos tu idea y nosotros la fabricamos</h2>	<br>		
		 <!--inicio footer--> 
    <div class="container-fluid">
      <footer class="row footerBg paddingTB flexFooter">
          <div class="col-lg-3 col-xs-12">
            <a href="../index.html"><img src="../Assets/img/logo.png" alt="logo footer" height="110">
          </div>
          <div class="col-lg-3 col-xs-12">
            <a target="_blank" href="https://www.instagram.com/ind_and_deco/?hl=es-la"><img class="Redes__img-footer Redes__img-instagram"  width="65" src="../Assets/img/instaLogo.png"
            alt="logo-Instagram"></a>
            
            <a  target="_blank" href=https://indanddeco.mercadoshops.com.ar/><img  class="Redes__img-footer Redes__img-ML"  width="65" src="../Assets/img/ML.png " 
            alt="Tienda Mercado Libre"></a>

            <a  target="_blank" href=https://wa.link/ha0xh6/><img  class="Redes__img-footer Redes__img-Whatsapp"  width="65" src="../Assets/img/WhatsappIcon.png " 
            alt="Contacto Whatsapp"></a>

            <a  target="_blank" href="mailto:ind.and.deco@gmail.com"><img  class="Redes__img-footer Redes__img-Gmail"  width="65" src="../Assets/img/GmailIcon.png" 
            alt="Tienda Mercado Libre"></a>

          </div> 
          <div class="col-lg-3 col-xs-12">
             <h3><a href="contacto.html">Pedí tu presupuesto</a></h3>
          </div>
          <!--COPYRIGHT--> 
         <div class="row">
             <div class="col-lg-12 cophyright">
                 <p class="cophyright__copy">© 2021 Ind&Deco / Todos los derechos reservados</p>
             </div>      
           </div>

          <div class="row">
               <div class="col-lg-12 creador">
                   <p class="creador__creadorPagina">
                  Creado por<a class="creadorPagina__creador" href="#"> Rocio Lopez</a>
                  </p>    
               </div>      
          </div>            
      </footer>   
    </div>
     <!--cierre footer-->  
     <!--Script AOS--> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
	  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>