<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Catálogo Ind and deco muebles de diseño</title>

	<!-- metas SEO -->
  <meta name="description" content="Muebles de diseño, personalizados y a medida"> 
  <meta name="keywords" content="MUEBLES DISEÑO INTERIOR PERSONALIZADO A MEDIDA EXTERIOR DECORACION CATALOGO INTERIOR DESIGN ESTILO INDUSTRIAL NORDICO ">

  <!-- CSS AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<!--Link BOOSTRAP -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<!--mi CSS -->
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body>
	<!--inicio header  -->
	<header>
			 <!--nav + logo-->
		    <div class="container-fluid">
		      <div class="row">
		        <div class="col-lg-12 col-xs-12">
		          <nav class="navbar navbar-expand-lg navbar-light bg-light">
		            <a class="navbar-brand" href="#"><img src="../Assets/img/logo.png" alt="logoSitio"></a>
		            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		              <span class="navbar-toggler-icon"></span>
		            </button>
		            <div class="collapse navbar-collapse" id="navbarNav">
		              <ul class="navbar-nav">
		                <li class="nav-item active">
		                  <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link" href="Nosotros.html">Nosotros</a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link" href="Catálogo.html">Catálogo</a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link" href="contacto.html">Contacto</a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link" href="Preguntasfrecuentes.html">Preguntas frecuentes</a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
		                </li>
		              </ul>
		            </div>
		          </nav>
		        </div>
		      </div>
		    </div>
		<!-- cierre NAV -->
	</header>
	<!-- cierre header -->
	<!-- inicio contenido -->
	<section>
		<article> 
			<h1 class="titulo__catalogo">Nuestro catálogo</h1>
									<!--INICIO CARDS CATALOGO-->		
									<hr class="divider"/>
										<!-- TIENDA -->
										<section class="py-5 padding__catalogo">
											<div class="container px-4 px-lg-5 mt-5">
												<div class="row gx-4 gx-lg-3 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
													<div class="col mb-5">
														<div class="card h-100">
															<!-- Product image-->
															<img class="img-tienda" src="../Assets/img/cards.jpg" alt="Barra Pampa" />
															<!-- Product details-->
															<div class="card-body p-4 card-body__Productos">
																<div class="text-center">
																	<!-- Product name-->
																	<h5 class="fw-bolder">Barra Pampa</h5>
																</div>
															</div>
															<!-- Product actions-->
															<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
																<div class="text-center"><a class="btn btn__tienda btn-outline-dark mt-auto" href="https://indanddeco.mercadoshops.com.ar/MLA-908507051-barra-movible-de-madera-y-hierro-linea-pampa-_JM#position=10&search_layout=stack&type=item&tracking_id=1da22495-9456-4057-93e0-99c1a64b897c">Ir a la tienda</a></div>
															</div>
														</div>
													</div>
													<div class="col mb-5">
														<div class="card h-100">
															<!-- Product image-->
															<img class="img-tienda" src="../Assets/img/cards2.jpg" alt="Mesa de hierro" />
															<!-- Product details-->
															<div class="card-body p-4">
																<div class="text-center">
																	<!-- Product name-->
																	<h5 class="fw-bolder">Mesa Florida</h5>
																</div>
															</div>
															<!-- Product actions-->
															<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
																<div class="text-center"><a class="btn btn__tienda btn-outline-dark mt-auto" href="https://indanddeco.mercadoshops.com.ar/MLA-908490082-mesa-4-patas-de-hierro-para-exterior-linea-florida-_JM?searchVariation=76254851434#searchVariation=76254851434&position=15&search_layout=stack&type=item&tracking_id=a84c8500-001b-41fc-9994-ed240feb9e73">Ir a la tienda</a></div>
															</div>
														</div>
													</div>
													<div class="col mb-5">
														<div class="card h-100">
															<!-- Product image-->
															<img class="img-tienda" src="../Assets/img/cards3.jpg" alt="rack tv" />
															<!-- Product details-->
															<div class="card-body p-4">
																<div class="text-center">
																	<!-- Product name-->
																	<h5 class="fw-bolder">Rack TV Linea Patagonia </h5>
																</div>
															</div>
															<!-- Product actions-->
															<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
																<div class="text-center"><a class="btn btn__tienda btn-outline-dark mt-auto" href="https://indanddeco.mercadoshops.com.ar/MLA-908486252-rack-para-tv-estilo-industrial-patagonia-hierro-y-madera-_JM?searchVariation=76252309323#searchVariation=76252309323&position=2&search_layout=stack&type=item&tracking_id=a3262d1b-d21d-436c-8b36-3f4f64aa9fc1">Ir a la tienda</a></div>
															</div>
														</div>
													</div>
													<div class="col mb-5">
														<div class="card h-100">
															<!-- Product image-->
															<img class="img-tienda" src="../Assets/img/cards4.jpg" alt="silla exterior" />
															<!-- Product details-->
															<div class="card-body p-4">
																<div class="text-center">
																	<!-- Product name-->
																	<h5 class="fw-bolder">Silla Linea Florida</h5>
																</div>
															</div>
															<!-- Product actions-->
															<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
																<div class="text-center"><a class="btn btn__tienda btn-outline-dark mt-auto" href="https://indanddeco.mercadoshops.com.ar/MLA-908503431-silla-de-hierro-para-exterior-linea-florida-_JM?searchVariation=76261156355#searchVariation=76261156355&position=7&search_layout=stack&type=item&tracking_id=dbab4a11-0db0-4550-8952-f3a694762bbb">Ir a la tienda</a></div>
															</div>
														</div>
													</div>
													<div class="col mb-5">
														<div class="card h-100">
															<!-- Product image-->
															<img class="img-tienda" src="../Assets/img/cards5.jpg" alt="sillon exterior" />
															<!-- Product details-->
															<div class="card-body p-4">
																<div class="text-center">
																	<!-- Product name-->
																	<h5 class="fw-bolder">Sillón doble Linea Florida</h5>
																</div>
															</div>
															<!-- Product actions-->
															<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
																<div class="text-center"><a class="btn btn__tienda btn-outline-dark mt-auto" href="https://indanddeco.mercadoshops.com.ar/MLA-908503431-silla-de-hierro-para-exterior-linea-florida-_JM?searchVariation=76261156355#searchVariation=76261156355&position=7&search_layout=stack&type=item&tracking_id=d958cd71-d9c3-44cc-a735-cbecd8aede9d">Ir a la tienda</a></div>
															</div>
														</div>
													</div>
													<div class="col mb-5">
														<div class="card h-100">
															<!-- Product image-->
															<img class="img-tienda" src="../Assets/img/cards6.jpg" alt="cuadro deco" />
															<!-- Product details-->
															<div class="card-body p-4">
																<div class="text-center">
																	<!-- Product name-->
																	<h5 class="fw-bolder">Cuadro Deco oxidado</h5>
																</div>
															</div>
															<!-- Product actions-->
															<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
																<div class="text-center"><a class="btn btn__tienda btn-outline-dark mt-auto" href="https://indanddeco.mercadoshops.com.ar/MLA-580009165-cuadro-deco-de-chapa-con-terminacion-oxidada-para-pared-_JM">Ir a la tienda</a></div>
															</div>
														</div>
													</div>
													<div class="col mb-5">
														<div class="card h-100">
															<!-- Product image-->
															<img class="img-tienda" src="../Assets/img/cards7.jpg" alt="Barra movil" />
															<!-- Product details-->
															<div class="card-body p-4">
																<div class="text-center">
																	<!-- Product name-->
																	<h5 class="fw-bolder">Barra Móvil</h5>
																</div>
															</div>
															<!-- Product actions-->
															<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
																<div class="text-center"><a class="btn btn__tienda btn-outline-dark mt-auto" href="../Views/contacto.html">Pedilo a medida</a></div>
															</div>
														</div>
													</div>
													<div class="col mb-5">
														<div class="card h-100">
															<!-- Product image-->
															<img class="img-tienda" src="../Assets/img/cards8.png" alt="perchero" />
															<!-- Product details-->
															<div class="card-body p-4">
																<div class="text-center">
																	<!-- Product name-->
																	<h5 class="fw-bolder">Perchero estilo industrial</h5>
																</div>
															</div>
															<!-- Product actions-->
															<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
																<div class="text-center"><a class="btn btn__tienda btn-outline-dark mt-auto" href="../Views/contacto.html">Pedilo a medida</a></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
										<!-- FIN TIENDA  -->
		<h2 data-aos="fade-left" data-aos-duration="1500" class="slogan__catalogo">Contanos tu idea y nosotros la fabricamos</h2>	<br>		
		 <!--inicio footer--> 
    <div class="container-fluid">
      <footer class="row footerBg paddingTB flexFooter">
          <div class="col-lg-3 col-xs-12">
            <img src="../Assets/img/logo.png" alt="logo footer" height="110">
          </div>
          <div class="col-lg-3 col-xs-12">
            <a target="_blank" href="https://www.instagram.com/ind_and_deco/?hl=es-la"><img class="Redes__img-footer Redes__img-instagram"  width="65" src="../Assets/img/instaLogo.png"
            alt="logo-Instagram"></a>
            
            <a  target="_blank" href=https://indanddeco.mercadoshops.com.ar/><img  class="Redes__img-footer Redes__img-ML"  width="65" src="../Assets/img/ML.png " 
            alt="Tienda Mercado Libre"></a>

            <a  target="_blank" href=https://wa.link/ha0xh6/><img  class="Redes__img-footer Redes__img-Whatsapp"  width="65" src="../Assets/img/WhatsappIcon.png " 
            alt="Contacto Whatsapp"></a>

            <a  target="_blank" href="mailto:ind.and.deco@gmail.com"><img  class="Redes__img-footer Redes__img-Gmail"  width="65" src="../Assets/img/GmailIcon.png" 
            alt="Tienda Mercado Libre"></a>

          </div> 
          <div class="col-lg-3 col-xs-12">
             <h3><a href="contacto.html">Pedí tu presupuesto</a></h3>
          </div>
          <!--COPYRIGHT--> 
         <div class="row">
             <div class="col-lg-12 cophyright">
                 <p class="cophyright__copy">© 2021 Ind&Deco / Todos los derechos reservados</p>
             </div>      
           </div>

          <div class="row">
               <div class="col-lg-12 creador">
                   <p class="creador__creadorPagina">
                  Creado por<a class="creadorPagina__creador" href="#">Rocio Lopez</a>
                  </p>    
               </div>      
          </div>            
      </footer>   
    </div>
     <!--cierre footer-->  
     <!--Script AOS--> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
	  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>