<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Preguntas Frecuentes</title>

	   <!-- metas SEO -->
  <meta name="description" content="Fabricamos muebles de diseño, personalizados y a medida. Decoramos tu hogar"> 
  <meta name="keywords" content="MUEBLES DISEÑO INTERIOR PERSONALIZADO A MEDIDA EXTERIOR DECORACION PREGUNTAS CONSULTAS PRESUPUESTOS">

	<!--link BOOSTRAP CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<!--link mi css -->
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">

	<title>Preguntas Frecuentes y consultas</title>
</head>
<body>
		<!--inicio header  -->
	<header>
		    <!--nav + logo-->
		    <div class="container-fluid">
		      <div class="row">
		        <div class="col-lg-12 col-xs-12">
		          <nav class="navbar navbar-expand-lg navbar-light bg-light">
		            <a class="navbar-brand" href="#"><img src="../Assets/img/logo.png" alt="logoSitio"></a>
		            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		              <span class="navbar-toggler-icon"></span>
		            </button>
		            <div class="collapse navbar-collapse" id="navbarNav">
		              <ul class="navbar-nav">
		                <li class="nav-item active">
		                  <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link" href="Nosotros.html">Nosotros</a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link" href="Catálogo.html">Catálogo</a>
		                </li>
		                     <li class="nav-item">
		                  <a class="nav-link" href="contacto.html">Contacto</a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Preguntas Frecuentes</a>
		                </li>
		              </ul>
		            </div>
		          </nav>
		        </div>
		      </div>
		    </div>
		<!-- cierre NAV -->
	</header>
	<!-- cierre header -->
	<!-- inicio contenido -->
	<section>
		<article class="preguntasFrecuentes">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flexTitulo">
						<h1 class="titulo__preguntasF ">Preguntas frecuentes <span>&#160;</span></h1>
				</div>
			  <div class="row">
					<div class="col-lg-6 col-xs-6 preguntas">
						<h3>Cuánto demora la entrega?</h3>
							 <p>Nuestros muebles son fabricados a pedido, dependiendo el tipo de mueble, demora entre 10 y 15 días.</p>
						<h3>Cuales son los metodos de pago?</h3>
							 <p>Podés abonar a través de Mercado Libre si querés abonarlo con tarjeta, o por transferencia bancaria</p>
						<h3>Si les envío un diseño, lo hacen?</h3>
						 	<p>Vos nos contás tu idea y nosotros la fabricamos. Hacemos muebles a medida, personalizados y de diseño, de estilo industrial y nórdico, estructuras de hierro y elementos decorativos</p>
						<h3>Hacen envíos al interior?</h3>
						 	<p>Hacemos envíos a todo el país, coordinamos el transporte con el cliente. El costo de envío no está incluido en el valor del producto.</p>
			  </div>
			</div>
		</article>
	</section>
		<!-- cierre contenido -->
  <!--inicio footer--> 
    <div class="container-fluid">
      <footer class="row footerBg paddingTB flexFooter">
          <div class="col-lg-3 col-xs-12">
            <img src="../Assets/img/logo.png" alt="logo footer" height="110">
          </div>
          <div class="col-lg-3 col-xs-12">
            <a target="_blank" href="https://www.instagram.com/ind_and_deco/?hl=es-la"><img class="Redes__img-footer Redes__img-instagram"  width="60" src="../Assets/img/instaLogo.png"
            alt="logo-Instagram"></a>
            
            <a  target="_blank" href=https://indanddeco.mercadoshops.com.ar/><img  class="Redes__img-footer Redes__img-ML"  width="60" src="../Assets/img/ML.png " 
            alt="Tienda Mercado Libre"></a>
          </div> 
          <div class="col-lg-3 col-xs-12">
            <h3><a href="./Views/contacto.html">Contactanos</h3>
          </div>
          <div class="col-lg-3 col-xs-12">
            <h3><a href="./Views/Preguntasfrecuentes.html">Preguntas frecuentes</h3>
          </div>
      </footer>   
    </div>
     <!--cierre footer--> 
	 <!-- jQuery  Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>